<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnectionString" connectionString="Server=192.168.16.100;Database=metadatabase;Uid=root;Pwd=iN8ngoQAns$KY3;AllowLoadLocalInfile=True;AllowUserVariables=True; Default Command Timeout=99999" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="PathToDrive" value="C:\Users\kai\OneDrive - hoodtech.com\Documents\TestDir\Raw Video Clips"/>
	</appSettings>
</configuration>